# Compiled static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
dub.selections.json
__dummy.html
__test__library__
tests
docs/

# Coverage files
*.lst

# Debug info
*.pdb

# Backup files
*~

# Editor files
.vs

# Dagon files
gamecontrollerdb.txt
data/

# Assets
assets/

# DLLs
cimgui.dll
freetype-6.dll
newton.dll
SDL2.dll
SDL2_Image.dll
dgNewtonAvx.dll
dgNewtonAvx2.dll
dgNewtonSse4.2.dll
soloud.dll

# Scripts
*.bat
*.ps1
*.sh

# Resolve
.resolve/
dependencies.json

# ImGui files
imgui.ini

# Log
electronvolt.log

# Screenshots
screenshots/*.png

# Launcher builds
launcher-win-amd64