#include <windows.h>

app      ICON    icons/atrium.ico
ICONS1   ICON    icons/atrium.ico

1 VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEFLAGSMASK   0
    FILEFLAGS       0
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     0
    {
        BLOCK "StringFileInfo"
        {
            BLOCK "040904b0"
            {
                VALUE "FileDescription", "Atrium"
                VALUE "OriginalFilename", "atrium.exe"
                VALUE "CompanyName", ""
                VALUE "FileVersion", "0.0.0.1"
                VALUE "LegalCopyright", ""
                VALUE "ProductName", "Atrium"
                VALUE "ProductVersion", "0.0.0.1"
            }
        }
        BLOCK "VarFileInfo"
        {
            VALUE "Translation", 0x0409, 0x04B0
        }
    }
    
    


