html
{ 
    background: url(images/background-screen.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inner-box 
{
    background-color:rgba(255,255,255,0.2);
    padding:1em;
    border: solid 1px #6f6f6f;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.inner-box:hover
{ 
    outline: none;
    border-color: #FF9900;
    box-shadow: 0 0 10px #FF9900;
    background-color:rgba(255,102,0,0.2);
}

.box
{
    color: #cbcbcb;
    font-family: sans;
}

h1
{
    color: #FF9900;
    font-family: sans;
}

h2
{
    color: #FF9900;
    font-family: sans;
}

h3
{
    color: #FF9900;
    font-family: sans;
}

p
{
    color: #cbcbcb;
    font-family: sans;
    text-shadow: 1px 1px 1px #222222;
}

a
{
    color: #FF9900;
    font-family: sans;
    text-decoration: none;
}

a:hover
{
    color: #ffffff;
    font-family: sans;
    text-decoration: underline;
}

table
{
    border: 0px; /* border="0" */
    border-collapse: collapse; /* cellspacing="0" */
}

table td
{
    padding: 10px; /* cellpadding="0" */
}

.shadow 
{
    box-shadow: 3px 3px 4px #000;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5-7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.dark
{
    color: #878787;
    font-family: sans;
}

.glowing 
{
    font-family: sans;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px #FF9900;
    -webkit-transition: width 0.3s; /*Safari & Chrome*/
    transition: width 0.3s;
    -moz-transition: width 0.3s; /* Firefox 4 */
    -o-transition: width 0.3s; /* Opera */
}
