# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
launcher.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# VSCode / IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Log files
launcher.log

# Binaries
bin/